<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{url_for('static',filename='about.css')}}"/>
</head>
<body>
    <div class="container">
        <h1>About Us</h1>
        <p><h2>Hello!</h2></p>

        <div class="team-member">
            <div class="team-member-info">
                <div class="team-member-name">Ritvin ch</div>
                <div class="team-member-position">Team-member</div>
                <div class="team-member-description">I am student of Vikas Engineering college with some programming knowledge.</div>
                <hr/>
                <div class="desc-txt">I created this News Aggregator Web application with the help of News-Api,Open sourced at Github.<br/>
                     If you Appreciate my work then check out my other projects linked in my git hub repository.<div><br/><br/>
                    <div><a href="https://github.com/ritvin007/News-Aggregator.git">@My Git-hub</a></div>
                    <br/>
                    <div><a href="#">@My LinkedIn</a><div>
        </div>
</body>
</html>