<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorized-Search</title>
    <link rel="stylesheet" href="{{url_for('static', filename='category.css')}}"/>
</head>
<body>
  <div class="bottom-nav">
        <nav>
            <a href="{{url_for('home')}}">HOME</a>
            <a href="{{url_for('newshome',content='entertainment')}}">ENTERTAINMENT</a>
            <a href="{{url_for('newshome',content='technology')}}">TECHNOLOGY</a>
            <a href="{{url_for('newshome',content='science')}}">SCIENCE</a>
            <a href="{{url_for('newshome',content='health')}}">HEALTH</a>
            <a href="{{url_for('newshome',content='sports')}}">SPORTS</a>
            <div class="animation start-home"></div>
        </nav>
    </div><div></hr class="class-1"></br></div></br>
  <div class='wrapper'>
    {% for i in contents['articles'] %}
    <div class="outer-box">
        <div class="inner-box">
            <h2 class="title-txt">{{ i['title'] }}</h2>
            <img class="image-box" src="{{ i['urlToImage'] }}"/>
            <p class="desc-txt">{{ i['description'] }}</p>
            <a href="{{ i['url'] }}" class="btn-class">Read more...</a>
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>