<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='forgot.css')}}"/>
    <title>Forgot Password</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center><b>{{ message }}</b></center>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
  <section>
    <div class="form-box">
      <div class="form-value">
        <form method="POST">
          <h2>FORGOT PASSWORD</h2>
          <div class="inputbox">
            <input type="email" name="email" required/>
            <label>Enter Your Email Id:</label>
          </div>
          <button>Submit</button>
        </form>
      </div>
    </div>
  </section>
</body>
</html>