<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"/>

</head>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <center><b>{{ message }}</b></center>
        {% endfor %}
    {% endif %}
{% endwith %}
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="" method="post">
                    <h2>LOGIN</h2>
                    <div class="inputbox">
                        <input type="text" name='username' required/>
                        <label for="username">Username:</label>
                    </div>
                    <div class="inputbox">
                        <input type="password" name='password' required/>
                        <label for="password">Password:</label>
                    </div>
                    <div class="forget">
                        <label for=""><a href="{{url_for('forgot')}}">Forgot Password?</a></label>
                    
                    </div>
                    <button>Log in</button>
                    <div class="register">
                        <p>Don't have a account?<a href="{{url_for('registration')}}">Register!</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>